[submodule "human_parser/pytorch_Realtime_Multi-Person_Pose_Estimation"]
	path = human_parser/openpose_pytorch
	url = git@github.com:htcr/pytorch_Realtime_Multi-Person_Pose_Estimation.git
[submodule "matting/knn-matting"]
	path = matting/knn-matting
	url = git@github.com:htcr/knn-matting.git
[submodule "matting/closed-form-matting"]
	path = matting/closed-form-matting
	url = git@github.com:htcr/closed-form-matting.git
[submodule "matting/global-matting"]
	path = matting/global-matting
	url = git@github.com:htcr/global-matting.git
