[submodule "human_parser/pytorch_Realtime_Multi-Person_Pose_Estimation"]
	path = human_parser/pytorch_Realtime_Multi-Person_Pose_Estimation
	url = git@github.com:htcr/pytorch_Realtime_Multi-Person_Pose_Estimation.git
